{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    h1 {
        color: #000;
    }

    form {
        max-width: 600px;
        margin: 0 auto;
        padding: 60px;
        background-color: #ED5C9B;
        color: #000;
        border-radius: 10px;
    }

    table {
        width: 100%;
    }

    table td {
        padding: 8px 0;
    }

    input[type="text"],
    input[type="number"] {
        width: calc(100% - 16px);
        padding: 8px;
        margin: 4px 0;
        border: 1px solid #000;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #000;
        color: #FACDE5;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #000;
        color: #ED5C9B;
    }
</style>

<h1>Edit Product</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Edit Product"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}
